<div class="example-container-1">
  <h2>Elementos</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="centrar"
      *ngFor="let item of todo"
      [ngClass]="item.class"
      cdkDrag
      [cdkDragDisabled]="item.disabled"
    >
      {{ item.title }}
      <!-- <img *cdkDragPreview [src]="item.img" [alt]="item.title" width="500px" height="500px"> -->
    </div>
  </div>
</div>

<div class="example-container-2" ng-app="myApp" ng-controller="myCtrl">
  <h2>GUARANITY ICE</h2>
  <div class="buttons">
    <button (click)="prueba()">Guardar</button>
    <button (click)="lexicografico()">Ejecutar</button>
    <a
      target="_blank"
      href="https://drive.google.com/file/d/1uOKrv2nw77F3Y5ACQ2_vLn2RQcCRVCtP/view?usp=sharing"
      >Ayuda</a
    >
  </div>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="start">
      Inicio
    </div>
    <div
      class="centrar inputStyle"
      *ngFor="let item of done"
      [ngClass]="item.class"
      cdkDrag
      [cdkDragDisabled]="item.disabled"
    >
      {{ item.title }}
      <input
        *ngIf="item.condition; else elseBlock"
        class="{{ item.class + 1 }}"
        style="font-size: 1rem;  margin-left: auto; margin-right: auto; width: auto"
      />
      <ng-template #elseBlock
        ><input type="hidden" class="{{ item.class + 1 }}" value="}"
      /></ng-template>
    </div>
    <div class="end">
      Fin
    </div>
    <div style="width: 100%; margin-top: 1rem;">
      <table id="tabla1"></table>
    </div>
  </div>
</div>
